{{ template "base" }}
{{ define "body" }}
<p>Reading is a essential part of life. These are some of my favorite readings. Many of them came at the recommendation of others, and I hope that I can pass them on to others.<p>
<h3>Books And Short Stories</h3>
<p>The Imperial Message - Franz Kafka</p>
<p>The Plausibility of Life - Marc Kirschner and John Gerhart</p>
<p>The Stranger - Albert Camus</p>
<p>Hacker and Painters - Paul Graham</p>
<p>Tlon, Uqbar, Orbis, Tertius - Jorge Luis Borges</p>
<p>Safecracker Meets Safecracker - Richard Feynmann</p>
<h3>Essays</h3>
<p>You And Your Research - Richard Hamming</p>
<p>On Seeing Through and Unseeing - Gwern Branwen</p>
<p>You Bet! - Seth Klarman</p>
<p>Playing To Win - Alice Maz</p>
<p>The Myth of Sysiphus - Albert Camus</p>
{{ end }}
