{{ template "base"}}
{{ define "body" }}
<link href="/static/css/essays.css" rel="stylesheet">
<span class="heading">Curated Aesthetics</span>
<br>
<p>Any college student who has taken finals is familiar with this girl. But where did she come from?</p>
<img src="/static/img/chilledcow.jpg" alt="The Girl Featured on Chilled Cow"></img>
<figcaption>The iconic girl studying from the Chilled Cow lo-fi stream.</figcaption>
<p>During the pandemic, as my university (and the world) shutdown, the days started to get pleasant. My friends and I spend the bulk of our time on a balcony in one of our apartments. We spent days in the sun listening to music compilations through a TV a friend bought. One of the patterns I noticed was all the videos we played looked similar. The effort to conform was interesting because I thought our only expectation was for good music. So why go through so much trouble styling the video.</p>
<p>All the videos displayed what I now call a curated aesthetic — a selected collection of similar media or art that ascribe to a certain aesthetic. This was especially true for genres like lo-fi, synthwave, vaporwave, and all the other "waves."</p>
<p>Seeing these recurring patterns in this art made me wonder how they came to be. There is no central authority proclaiming that the videos must look alike (other than maybe influence from YouTube's recommendation algorithm). Even after looking at different searches through "lo-fi 'characteristic x,'" the videos all shared the same underlying aesthetic. The unescapable bounds led me to three questions:<p>
<ul>
    <li>
       Where did the aesthetics come from? 
    </li>
    <li>
        Why did they propagate?
    </li>
    <li>
        What's their impact?
    </li>
</ul>
<span class="heading">The Curated Aesthetic</span>
<p>In our case, the videos my friends and I watched were collections of handpicked lo-fi songs. They all featured some subset of older animation, repeating loops, and calm scenery. Most colors were washed out. No one set these bounds of the aesthetic, but they were there nonetheless. The YouTube recommendation algorithm may prevent content from reacting to the genre. Still, the algorithm only recommends, it doesn't create. So how are they created?</p>
<span class="subheading">Creation</span>
<p>To understand the creation of these aesthetics, its good for us to look at the origins of lo-fi. Where lo-fi begins depends on who you ask, but it certainly formalized itself in the 90s. The genre has evolved, but features that have lasted throughout include a DIY attitude, audio imperfections (low fidelity), and warmer, more personal sounds.</p>
<p>Imperfections make the music less suited for mass-consumption and more for personal sharing, although there is popular lo-fi. Artists lack the polished ego of other modern music like rap and EDM. In these genres, artists and listeners have their egos amplified through fast, stimulating music. In contrast, lo-fi doesn't seek to be flashy or provocative, just calming.</p>
<p>A lot changed from the 90s to now, but lo-fi is still low on ego. Because of the reduction of ego and personality, the music doesn't identify its artists the same way rap or EDM would. That's not to say the music can't be distinctive — Ariel Pink immediately proves otherwise. Rather, lo-fi has fewer signposts that point to the artist. The characteristics of lo-fi make it hard to find great artists and the best songs. Enter the aesthetic curators.</p>
<p>Aesthetic curators are a response to a lack of branding and difficulty distributing in the lo-fi genre. Those with genre expertise knew where to find good lo-fi and could offer that curation to listeners wanting to avoid high search costs. Still, the lack of ego made identifying what would be good music hard.</p>
<p>It's hard to say when the aesthetics were formed, but they closely mirror the music. Most aesthetics include 90s style animation, intentional graphic noise, and reduced saturation and contrast. The animations themselves often evoke calmness and, sometimes, nostalgia[0]. Similar patterns play out in vaporwave, chillwave, retrofuturism, and other "aesthetic" genres.</p>
<span class="subheading">Propogation</span>
<p>In distributing lo-fi, aesthetics fill the gap in ego and personality that the music lacks. In doing so, curators create what is essentially a brand around their mixes. The most famous of these is the Chilled Cow girl. What originally started as a loop of a girl doing school work now signals that the music played will be of high quality.</p>
<p>It's unclear what curator was the first to implement these aesthetics (at least I couldn't find them). Still, I see the propagation of these aesthetics as curators seeking to define themselves and signal reliability. Until listening, all curation has the chance to be good, bad, or great. Therefore, to survive in a low differentiation world, one must adhere to the aesthetic's bounds. Deviance comes across as misunderstanding to anyone who is only looking to select a sound quickly.</p>
<span class="subheading">Impact</span>
<p>Curated aesthetics are growing. There is a torrent of new content every day being carefully put together. I've felt we live in a golden age of music and art proliferation and curation is one of the best ways to experience more of the best. Curation as a service has also grown rapidly. Chilled Cow, once just a single lo-fi stream, has become a label. They sign artists and distribute music through their channels — 6.4m subscribers on YouTube and 500k on Spotify. If the number of ads I receive from them serves as an indicator, they are probably growing and likely profitable. And their aesthetic is their brand. Their case is an extreme success, but I imagine many others do well enough curating these sounds and aesthetics.</p>
<p>I see other businesses try to do this as well. One of Spotify's best features is its recommendation system and daily mixes. Netflix also provides curation, but I'd argue that people's trust in Netflix is much lower, and the cost of a bad recommendation is much higher. Curation is everywhere, and it seems its here to stay.</p>

<span class="subheading">Postscript, Notes, and Thoughts</span>
<p>[0] While writing this I kept thinking about Hauntologies, but I think I will write separately on this later. The appearance of such large movements is a fascinating topic and I'd love to explore it more.</p>
<p><a href="https://poolside.fm">poolside.fm</a> is an interesting example of a curated aesthetic and hauntology. I recommend checking it out.</p>
{{ end }}
