{{ define "nav" }}
<div class="nav">
	<ul>
		<li>
			<a href="/"><h2>Zember</h2></a>
		</li>
		<li>
			<a href="/resume">Resume</a>
		</li>
		<li>
			<a href="/writing">Writing</a>
		</li>
		<li>
			<a href="/bookshelf">Bookshelf</a>
		</li>
	</ul>
</div>
{{ end }}

