{{ template "base" }}
{{ define "body" }}

<span class="heading">Education</span>	
<span class="subheading">University Of Virginia '21</span><br>
<p>BS in Commerce, minor in CS</p>

<span class="heading">Work Experience</span>
<span class="subheading">UBS AG</span>
<p>Strategy Intern - Summer 2019</p>

<span class="subheading">UBS AG</span>
<p>Strategy Intern - Summer 2018</p>


<span class="heading">Projects</span>
<span class="subheading">GoTorrent</span> - Go
<p>A BitTorrent Client built in Go</p>

<span class="subheading">Sunset API</span> - Go, JavaScript, Vuejs, Firebase
<p>A simple REST API to find the sunrise and sunset times anywhere, anytime</p>

<span class="subheading">HNReduce</span> - JavaScript, CSS
<p>A Firefox extension to make browsing Hacker News more intentional</p>


<span class="heading">Skills</span>
<p><span class="subheading">Languages: </span>Go, JavaScript, Python, Java, C++</p>
<p><span class="subheading">Technologies: </span>Linux, Docker</span></p>

<link rel='stylesheet' href='/static/css/resume.css'>

{{ end }}
