{{ template "base"}}
{{ define "body" }}
<p>Writing has been a great way to think through problems in the past, but now I want to share those with others. So here are some thoughts</p>
<p><a href="/writing/curatedaesthetic">Curated Aesthetics</a></p>
{{ end }}
