html, body {
	font: 1.1em/1.3em sans-serif;
	margin:0 auto;
	padding:0;
	color: #333;
}

ul {
	list-style-type: none;
}

.container {
	margin: auto;
	position: relative;
	display:flex;
}

.nav {
	margin-top:50px;
}

.content {
	max-width: 65ch;
	margin-top:50px;
	margin-left: 50px;
}

li a {
	text-decoration:none;
	color: #000;
}

#hover {
	display: inline;
}

img {
	max-width:65ch;
}

figcaption {
	font-size: 0.8em;
}
